{
  "extends": "airbnb",
  "installedESLint": true,
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "jsx": true
  },
  "env": {
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "no-use-before-define": [0],
    "no-unsafe-negation": [0],
    "no-global-assign": [0],
    "no-undef": [
      0
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "no-underscore-dangle":  [
      "error",
      {
        "allow": ["_id"]
      }
    ]
  },
  "globals": {
    "require": false
  }
}
